<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Credit Account</title>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="index.css"/>
    <script src="js/bootstrap.bundle.min.js"></script>
</head>
<body>
<!-- Header -->
<div th:replace="~{header}"></div>
<!-- Header -->
<!-- Credit Cards Section -->
<section
        class="p-4 p-md-5 bg-img-1"
        th:style="'background-image: url('+@{/images/bckg_img1.jpg}+');'"
>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-5">
            <div class="card rounded-3">
                <div class="card-body p-4">
                    <div class="text-center mb-4">
                        <h3 class="fw-bold f-f-1 c-3">Payment Details</h3>
                    </div>
                    <form action="">
                        <p class="fw-bold mb-4 pb-2 c-2">Saved cards:</p>

                        <div class="d-flex flex-row align-items-center mb-4 pb-1">
                            <img
                                    class="img-fluid"
                                    src="https://img.icons8.com/color/48/000000/mastercard-logo.png"
                            />
                            <div class="flex-fill mx-3">
                                <div class="form-outline">
                                    <input
                                            type="text"
                                            id="formControlLgXc"
                                            class="form-control form-control-lg"
                                            value="**** **** **** 3193"
                                    />
                                    <label class="form-label" for="formControlLgXc"
                                    >Card Number</label
                                    >
                                </div>
                            </div>
                            <a href="#!">Remove card</a>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4 pb-1">
                            <img
                                    class="img-fluid"
                                    src="https://img.icons8.com/color/48/000000/visa.png"
                            />
                            <div class="flex-fill mx-3">
                                <div class="form-outline">
                                    <input
                                            type="text"
                                            id="formControlLgXs"
                                            class="form-control form-control-lg"
                                            value="**** **** **** 4296"
                                    />
                                    <label class="form-label" for="formControlLgXs"
                                    >Card Number</label
                                    >
                                </div>
                            </div>
                            <a href="#!">Remove card</a>
                        </div>

                        <p class="fw-bold mb-4 c-2">Add new card:</p>

                        <div class="form-outline mb-4">
                            <input
                                    type="text"
                                    id="formControlLgXsd"
                                    class="form-control form-control-lg"
                                    value="Anna Doe"
                            />
                            <label class="form-label" for="formControlLgXsd"
                            >Cardholder's Name</label
                            >
                        </div>

                        <div class="row mb-4">
                            <div class="col-7">
                                <div class="form-outline">
                                    <input
                                            type="text"
                                            id="formControlLgXM"
                                            class="form-control form-control-lg"
                                            value="1234 5678 1234 5678"
                                    />
                                    <label class="form-label" for="formControlLgXM"
                                    >Card Number</label
                                    >
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-outline">
                                    <input
                                            type="password"
                                            id="formControlLgExpk"
                                            class="form-control form-control-lg"
                                            placeholder="MM/YYYY"
                                    />
                                    <label class="form-label" for="formControlLgExpk"
                                    >Expire</label
                                    >
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-outline">
                                    <input
                                            type="password"
                                            id="formControlLgcvv"
                                            class="form-control form-control-lg"
                                            placeholder="Cvv"
                                    />
                                    <label class="form-label" for="formControlLgcvv"
                                    >Cvv</label
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-warning btn-lg">Add card</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Credit Cards Section -->
<!-- Credit Form -->
<section class="text-center text-lg-start">
    <div class="container py-4">
        <div class="row g-0 align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div
                        class="card cascading-right"
                        style="
                background: hsla(0, 0%, 100%, 0.55);
                backdrop-filter: blur(30px);
              "
                >
                    <div class="card-body p-5 shadow-5 text-center">
                        <h2 class="fw-bold h-1">Credit</h2>
                        <h3 class="fw-bold h-2">account</h3>
                        <form th:action="@{/credit}" th:object="${creditForm}" method="post">
                            <!-- Amount input group -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input
                                        type="number"
                                        th:field="*{amount}"
                                        name="amount"
                                        class="form-control"
                                        aria-label="Amount (to the nearest dollar)"
                                        min="10"
                                />
                            </div>
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-dark btn-block mb-4">
                                Credit Account
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-5 mb-lg-0">
                <img th:src="@{/images/img_phone_1.jpg}"
                     class="w-100 rounded-4 shadow-4"
                     alt="img_phone"
                />
            </div>
        </div>
    </div>
</section>
<!-- Credit Form -->
<!-- Footer -->
<div th:replace="~{footer}"></div>
<!-- Footer -->
</body>
</html>
